.app {
  margin: 50px;
}
.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  border: 1px solid #ddd;
  padding: 0 10px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.input-box .fa-solid {
  width: 10%;
  display: inline-block;
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.search {
  font-size: 20px;
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}
.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 50px 0;
  color: #444;
  border-spacing: 15px;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
}

td {
  width: 250px;
  font-size: 20px;
}
